.container {
    display: flex;
    background: darkcyan;
    margin: 5px;
    gap: 10px;
    gap: 20px;
    row-gap: 10px;
    column-gap: 20px;
}

.item {
    background: cadetblue;
    border-width: 20px;
    padding: 5px;
    justify-content: space-around;
    margin: 5px 0;
    align-items: center;
    flex-flow: column;
    
}
.attribution {
    font-size: x-large;
}